n8n-workflows/repairflow-stock-alert.json
{
  "name": "RepairFlow — Stock Alert Daily Check",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "id": "repairflow-stock-alert-v1",
  "meta": {
    "description": "Vérification quotidienne du stock de pièces détachées à 8h00 du lundi au samedi. Envoie un email HTML récapitulatif si des pièces sont en rupture ou sous le seuil minimum."
  },
  "nodes": [

    {
      "id": "node-schedule",
      "name": "Every Morning 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 280],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-6"
            }
          ]
        }
      }
    },

    {
      "id": "node-fetch-parts",
      "name": "Fetch All Parts Inventory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 280],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/parts_inventory",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "*" },
            { "name": "order",  "value": "qty_stock.asc" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      }
    },

    {
      "id": "node-filter-stock",
      "name": "Filter Low Stock Parts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 280],
      "parameters": {
        "jsCode": "// La comparaison colonne-à-colonne (qty_stock <= qty_min_threshold) n'est pas\n// supportée nativement par PostgREST — on effectue le filtrage ici.\nconst response = $input.first().json;\nconst allParts = Array.isArray(response) ? response : [response];\n\nconst lowStockItems = allParts.filter(\n  p => typeof p.qty_stock === 'number' &&\n       typeof p.qty_min_threshold === 'number' &&\n       p.qty_stock <= p.qty_min_threshold\n);\n\nreturn [{\n  json: {\n    lowStockItems,\n    count:         lowStockItems.length,\n    rupture_count: lowStockItems.filter(p => p.qty_stock === 0).length,\n    bas_count:     lowStockItems.filter(p => p.qty_stock > 0).length,\n    hasLowStock:   lowStockItems.length > 0\n  }\n}];"
      }
    },

    {
      "id": "node-if-stock",
      "name": "Has Low Stock Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 280],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cond-has-items",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },

    {
      "id": "node-noop",
      "name": "No Stock Issues",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 440],
      "parameters": {}
    },

    {
      "id": "node-build-email",
      "name": "Build Stock Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 160],
      "parameters": {
        "jsCode": "const { lowStockItems, rupture_count, bas_count } = $input.first().json;\n\nconst today = new Date().toLocaleDateString('fr-FR', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n});\n\nconst subject = `⚠️ Stock bas — ${lowStockItems.length} pièce(s) à commander — ${today}`;\nconst summary = `${rupture_count} pièce(s) en rupture, ${bas_count} pièce(s) en stock bas`;\n\n// Génération des lignes du tableau HTML\nconst rows = lowStockItems.map(p => {\n  const isRupture = p.qty_stock === 0;\n  const rowBg     = isRupture ? '#fef2f2' : '#fffbeb';\n  const qtyColor  = isRupture ? '#dc2626' : '#d97706';\n  const badge     = isRupture\n    ? '<span style=\"background:#dc2626;color:#fff;padding:2px 8px;border-radius:4px;font-size:11px;font-weight:bold;\">RUPTURE</span>'\n    : '<span style=\"background:#d97706;color:#fff;padding:2px 8px;border-radius:4px;font-size:11px;font-weight:bold;\">BAS</span>';\n  const supplierCell = p.supplier_name\n    ? (p.supplier_url\n        ? `<a href=\"${p.supplier_url}\" style=\"color:#2563eb;\">${p.supplier_name}</a>`\n        : p.supplier_name)\n    : '—';\n  return `\n    <tr style=\"background:${rowBg};\">\n      <td style=\"padding:10px 12px;border:1px solid #e5e7eb;font-weight:500;\">${p.part_name}</td>\n      <td style=\"padding:10px 12px;border:1px solid #e5e7eb;font-family:monospace;\">${p.sku ?? '—'}</td>\n      <td style=\"padding:10px 12px;border:1px solid #e5e7eb;font-weight:bold;color:${qtyColor};text-align:center;\">${p.qty_stock}</td>\n      <td style=\"padding:10px 12px;border:1px solid #e5e7eb;text-align:center;\">${p.qty_min_threshold}</td>\n      <td style=\"padding:10px 12px;border:1px solid #e5e7eb;text-align:center;\">${badge}</td>\n      <td style=\"padding:10px 12px;border:1px solid #e5e7eb;\">${supplierCell}</td>\n    </tr>`;\n}).join('');\n\nconst htmlContent = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"font-family:Arial,sans-serif;color:#1f2937;max-width:820px;margin:0 auto;padding:24px;\">\n\n  <div style=\"border-left:4px solid #dc2626;padding:0 16px;margin-bottom:24px;\">\n    <h2 style=\"margin:12px 0 4px;color:#dc2626;\">⚠️ Alerte stock RepairFlow</h2>\n    <p style=\"margin:0;color:#6b7280;font-size:14px;\">${today}</p>\n  </div>\n\n  <div style=\"background:#fef3c7;border:1px solid #f59e0b;border-radius:8px;padding:14px 18px;margin-bottom:24px;\">\n    <strong style=\"color:#92400e;\">${summary}</strong>\n  </div>\n\n  <table style=\"width:100%;border-collapse:collapse;font-size:14px;\">\n    <thead>\n      <tr style=\"background:#1f2937;color:#fff;\">\n        <th style=\"padding:12px;text-align:left;border:1px solid #374151;\">Pièce</th>\n        <th style=\"padding:12px;text-align:left;border:1px solid #374151;\">SKU</th>\n        <th style=\"padding:12px;text-align:center;border:1px solid #374151;\">Stock actuel</th>\n        <th style=\"padding:12px;text-align:center;border:1px solid #374151;\">Seuil min.</th>\n        <th style=\"padding:12px;text-align:center;border:1px solid #374151;\">Statut</th>\n        <th style=\"padding:12px;text-align:left;border:1px solid #374151;\">Fournisseur</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${rows}\n    </tbody>\n  </table>\n\n  <div style=\"margin-top:28px;\">\n    <a href=\"${$env.APP_URL}/admin/inventory\"\n       style=\"background:#2563eb;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block;\">\n      Gérer le stock →\n    </a>\n  </div>\n\n  <hr style=\"margin:32px 0;border:none;border-top:1px solid #e5e7eb;\">\n  <p style=\"color:#9ca3af;font-size:12px;margin:0;\">\n    Email généré automatiquement par RepairFlow · ${new Date().toISOString()}\n  </p>\n\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    email_subject:  subject,\n    email_html:     htmlContent,\n    summary,\n    items_count:    lowStockItems.length,\n    rupture_count,\n    bas_count\n  }\n}];"
      }
    },

    {
      "id": "node-send-alert-email",
      "name": "Send Stock Alert Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 160],
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key",      "value": "={{ $env.BREVO_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { name: 'RepairFlow', email: 'ahamada.yahya@gmail.com' }, to: [{ email: $env.SHOP_EMAIL, name: 'Équipe RepairFlow' }], subject: $json.email_subject, htmlContent: $json.email_html }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      }
    },

    {
      "id": "node-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 160],
      "parameters": {
        "jsCode": "const emailData = $('Build Stock Email HTML').first().json;\n\nconst logEntry = {\n  workflow:      'stock-alert-daily-check',\n  date:          new Date().toISOString(),\n  items_count:   emailData.items_count,\n  rupture_count: emailData.rupture_count,\n  bas_count:     emailData.bas_count,\n  summary:       emailData.summary,\n  email_sent:    true,\n  recipient:     $env.SHOP_EMAIL\n};\n\n// Trace dans les logs n8n (visible dans l'exécution)\nconsole.log('[RepairFlow][StockAlert]', JSON.stringify(logEntry));\n\nreturn [{ json: logEntry }];"
      }
    }

  ],

  "connections": {

    "Every Morning 8AM": {
      "main": [
        [{ "node": "Fetch All Parts Inventory", "type": "main", "index": 0 }]
      ]
    },

    "Fetch All Parts Inventory": {
      "main": [
        [{ "node": "Filter Low Stock Parts", "type": "main", "index": 0 }]
      ]
    },

    "Filter Low Stock Parts": {
      "main": [
        [{ "node": "Has Low Stock Items?", "type": "main", "index": 0 }]
      ]
    },

    "Has Low Stock Items?": {
      "main": [
        [{ "node": "Build Stock Email HTML", "type": "main", "index": 0 }],
        [{ "node": "No Stock Issues",        "type": "main", "index": 0 }]
      ]
    },

    "Build Stock Email HTML": {
      "main": [
        [{ "node": "Send Stock Alert Email", "type": "main", "index": 0 }]
      ]
    },

    "Send Stock Alert Email": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }

  }
}
